* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
}

/* shared styles */
.container {
    max-width: 75rem;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}
.bg-dark {
    background-color: #1A0B2E;
}
.bg-light {
    background-color: #230E3D;
}
.text-white {
    color: #FFFFFF;
}
.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 10000px;
    transition: transform 1s;
}
.btn:hover {
    transform: scale(1.2);
    background-image: linear-gradient(to top right, #f7e83f98, #fb09b298, #9100f898);
}
.btn2 {
    background-color: transparent;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    transition: transform 1s;
}
.btn2:hover {
    transform: scale(1.2);
    background-color: #00ff888c;
    color: #FFFFFF;
}
.text-center {
    text-align: center;
}

/* main styles */
/* navbar styles */
nav {
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
nav img {
    width: 13rem;
    height: 2rem;
    cursor: pointer;
}
.nav-menu {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    font-size: 1rem;
}


/* hero styles */
.hero-container {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 90vh;
}
.hero-top {
    max-width: 21rem;
    max-height: 21rem;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
}
.hero-circle {
    position: absolute;
}
.hero-mic {
    position: relative;
    top: 5.8rem;
    left: 7.4rem;
}
.hero-bottom {
    margin-top: 8%;
}
.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-desc {
    font-size: 1rem;
    margin-bottom: 1.6rem;
}
.hero-button {
    justify-content: center;
    gap: 20px;
}
.spotify-btn {
    align-items: center;
    gap: 5px;
}