* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-fonts {
  font-family: "Inter", sans-serif;
}

/* shared styles */
.container {
    max-width: 75rem;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}
.bg-dark {
    background-color: #1A0B2E;
}
.bg-light {
    background-color: #230E3D;
}
.text-white {
    color: #FFFFFF;
}
.btn {
    background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 10000px;
    transition: transform 1s;
}
.btn:hover {
    transform: scale(1.2);
    background-image: linear-gradient(to top right, #f7e83f98, #fb09b298, #9100f898);
}
.btn2 {
    background-color: transparent;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    transition: transform 1s;
}
.btn2:hover {
    transform: scale(1.2);
    background-color: #00ff888c;
    color: #FFFFFF;
}
.text-center {
    text-align: center;
}

/* main styles */
/* navbar styles */
nav {
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
nav img {
    width: 13rem;
    height: 2rem;
    cursor: pointer;
}
.nav-menu {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    font-size: 1rem;
}
.hamburger-menu {
    display: none;
}


/* hero styles */
.hero-container {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 90vh;
}
.hero-top {
    max-width: 21rem;
    max-height: 21rem;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
}
.hero-top {
    position: relative;
}
.hero-top-button {
    position: absolute;
    top: 20%;
    left: 80%;
    background-color: #00FF88;
    color: #000000;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.hero-top-image {
    height: 345px;
    width: 345px;
    background-image: url('../assets/hero-circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-mic {
    position: absolute;
    top: 30%;
    left: 30%;
    animation: rotation 8s infinite linear;
    cursor: pointer;
}
.hero-bottom {
    margin-top: 8%;
}
.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-desc {
    font-size: 1rem;
    margin-bottom: 1.6rem;
    color: #ffffff99;
}
.hero-button {
    justify-content: center;
    gap: 20px;
}
.spotify-btn {
    align-items: center;
    gap: 5px;
}

/* about styles */
.about-container {
    padding-top: 8%;
}
.about-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about-desc, .about-desc2 {
    font-size: 1rem;
    line-height: 20px;
    color: #ffffff99;
}
.about-desc2 {
    padding-bottom: 5rem;
}
.about-hr {
    height: 0.1px;
    background-color: #ffffff1b;
    border: none;
}
.about-card-container {
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 7rem;
}
.about-card-title {
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
}
.about-card-desc {
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
    opacity: 80%;
}

/* choose techwave styles */
.techwave-container {
    padding-bottom: 7rem;
}
.techwave-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.techwave-card1, .techwave-card2, .techwave-card3, .techwave-card4, .techwave-card5, .host-card {
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px;
    cursor: pointer;
    transition: transform 1s;
}
.techwave-card1:hover, .techwave-card2:hover, .techwave-card3:hover, .techwave-card4:hover, .techwave-card5:hover {
    transform: translateY(-20px);
    background-color: rgba(53, 17, 101, 0.8);
}
.techwave-card-title, .host-card-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.techwave-card-desc, .host-card-desc {
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff99;
}
.techwave-card1 {
    grid-area: card1;
    align-content: center;
}
.techwave-card2 {
    grid-area: card2;
    align-content: center;
}
.techwave-card3 {
    grid-area: card3;
    align-content: center;
}
.techwave-card4 {
    grid-area: card4;
    align-content: center;
}
.techwave-card5 {
    grid-area: card5;
    align-content: center;
}
.techwave-card-container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "card1 card2 card2"
        "card1 card3 card3"
        "card4 card4 card5"
    ;
}


/* feature styles */
.feature-card-container {
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 4rem;
}
.feature-card {
    background-color: #250D44;
    border: none;
    border-radius: 20px;
    max-width: 380px;
}
.feature-card iframe {
    border: none;
    border-radius: 20px 20px 0 0;
}
.card-bottom {
    padding: 24px;
}
.feature-card-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
}
.feature-card-desc {
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff99;
    padding-bottom: 12px;
}
.feature-card-footer-para1, .feature-card-footer-para2, .feature-card-footer-para3 {
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.feature-card-footer-para1, .feature-card-footer-para3 {
    margin-top: 30px;
}

/* host styles */
.host-container {
    padding-bottom: 7rem;
}
.host-card {
    gap: 34px;
}
.host-card-desc {
    margin-bottom: 1rem;
}
.host-card-icons {
    gap: 20px;
}
.host-card-icons span {
    background: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    position: relative;
    transition: transform 1s;
}
.host-card-icons span:hover {
    transform: scale(1.2);
    background-color: #553c77;
}
.host-card-icons img {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* footer styles */
.footer-container {
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7rem;
}
.footer-logo {
    max-width: 18rem;
    max-height: 3rem;
}
.footer-logos {
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-logos p {
    color: #ffffff99;
    align-items: center;
    gap: 5px;
}
.footer-copyright {
    font-size: 1rem;
    color: #ffffff99;
}




/* responsive styles */
/* small device - 576px */
@media screen and (max-width: 576px) {
    /* nav */
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-menu {
        display: none;
    }
    nav button {
        display: none;
    }
    .hamburger-menu {
        display: inline;
        width: 24px;
        height: 24px;
    }

    /* hero */
    .hero-container {
        background-size: contain;
        background-position: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-circle {
        width: 200px;
        height: 200px;
        margin-top: 35%;
        margin-left: 22%;
    }
    .hero-top {
        position: relative;
    }
    .hero-top-button {
        position: absolute;
        top: 46%;
        left: 68%;
        background-color: #00FF88;
        color: #000000;
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
    .hero-top-image {
        height: 240px;
        width: 240px;
        margin-top: 28%;
        margin-left: 15%;
        background-image: url('../assets/hero-circle.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hero-mic {
        position: absolute;
        top: 62%;
        left: 41%;
        animation: rotation 8s infinite linear;
        cursor: pointer;
        width: 70px;
        height: 100px;
    }
    .hero-title {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 8px;
        margin-top: 15%;
    }
    
    /* about */
    .about-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-card-container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
    .about-card {
        margin-top: 20px;
    }
    .about-card-title {
        font-size: 3rem;
        font-weight: 700;
        color: #00FF88;
    }
    .about-card-desc {
        font-size: 1rem;
        font-weight: 300;
        line-height: 20px;
        opacity: 80%;
    }

    /* choose takewave */
    .techwave-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 4rem;
    }
    .techwave-title, .about-title, .techwave-title {
        font-size: 2rem;
    }
    .techwave-card-container {
        grid-template-areas: 
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
        ;
    }

    /* feature */
    .feature-card-container {
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .feature-card {
        margin: 0 auto;
        max-width: 90%;
    }
    
    /* host */
    .host-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .host-card {
        flex-direction: column;
        text-align: center;
    }
    .host-card {
        gap: 20px;
    }
    .host-card .host-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .host-card-icons {
        justify-content: center;
    }

    /* footer */
    .footer-container {
        padding: 5rem 7rem;
    }
    .footer-logo {
        max-width: 15rem;
        max-height: 3rem;
    }
    .footer-logos {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .footer-copyright {
        font-size: 1rem;
        color: #ffffff99;
        margin: 0 -40%;
    }
} 



/* medium device - 576px to 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* nav */
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-menu {
        display: flex;
    }
    nav button {
        display: none;
    }
    .hamburger-menu {
        display: none;
    }

    /* hero */
    .hero-container {
        background-size: contain;
        background-position: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-circle {
        width: 200px;
        height: 200px;
        margin-top: 32%;
        margin-left: 18%;
    }
    .hero-top {
        position: relative;
    }
    .hero-top-button {
        position: absolute;
        top: 38%;
        left: 68%;
        background-color: #00FF88;
        color: #000000;
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
    .hero-top-image {
        height: 280px;
        width: 280px;
        margin-top: 22%;
        margin-left: 10%;
        background-image: url('../assets/hero-circle.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hero-mic {
        position: absolute;
        top: 60%;
        left: 40%;
        animation: rotation 8s infinite linear;
        cursor: pointer;
        width: 85px;
        height: 120px;
    }
    .hero-title {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 8px;
        margin-top: 10%;
    }
    
    /* about */
    .about-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-card-container {
        flex-wrap: wrap;
        gap: 10%;
        justify-content: space-around;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
    .about-card {
        margin-top: 20px;
    }
    .about-card-title {
        font-size: 3rem;
        font-weight: 700;
        color: #00FF88;
    }
    .about-card-desc {
        font-size: 1rem;
        font-weight: 300;
        line-height: 20px;
        opacity: 80%;
    }

    /* choose takewave */
    .techwave-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 4rem;
    }
    .techwave-title, .about-title, .techwave-title {
        font-size: 2rem;
    }
    .techwave-card-container {
        grid-template-areas: 
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
        ;
    }

    /* feature */
    .feature-card-container {
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .feature-card {
        margin: 0 auto;
        max-width: 90%;
    }
    
    /* host */
    .host-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .host-card {
        flex-direction: column;
        text-align: center;
    }
    .host-card {
        gap: 20px;
    }
    .host-card .host-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    .host-card-icons {
        justify-content: center;
    }

    /* footer */
    .footer-container {
        padding: 5rem 7rem;
    }
    .footer-logo {
        max-width: 15rem;
        max-height: 3rem;
    }
    .footer-logos {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .footer-copyright {
        font-size: 1rem;
        color: #ffffff99;
    }
} 
